<div class="container">
    <div class="form-box">
        <!--ngForm faz parte do forms module do angular, angulariza o formulario / #frm e um referencia local
        para o formulario-->
        <!--(ngSubmit) e um event biding que escuta o evento de envio, tornando desnecessário chamar
        a função no botão, isso permite que o submit seja feito pelo click ou pela tecla enter-->
        <form #frm="ngForm" (ngSubmit)="calcularResultado()">
            <h2>Calculadora</h2>
            <label for="numero1">Número 1</label>
            <!--[(ngModel)] amarra (bind) o valor do campo com a variável numero 1 (two way data bind)-->
            <input type="number" name="numero1" id="numero1" [(ngModel)] = "numero1"/>

            <label for="numero2">Número 2</label>
            <!--[(ngModel)] amarra (bind) o valor do campo com a variável numero 2 (two way data bind)-->
            <input type="number" name="numero2" id="numero2" [(ngModel)] = "numero2"/>

            <!--(click) e a ação que e aguardada pelo usuario (event listener) e calcularResultado 
            e a chamada da função (one way data bind)-->
            <button type="submit">Somar</button>
        </form>
        <!--O *ngIf="resultado" nessa linha faz com que o <div> só seja exibido no 
            HTML se a variável resultado tiver algum valor (ou seja, for "truthy")
            OBS: *ngIf não tem else-->
        <div class="result-display" *ngIf="resultado">
            <p>Resultado da soma: </p>
        </div>
        <!--resultado != 0 && != null && != undefined && !== false-->
        @if (resultado) {
            
            <div class="result-display">
                <!--{{ resultado }} e a forma de se referenciar/exibir uma variável definida no componente-->
                <p>Resultado: <span id="result">{{ resultado }}</span></p>
            </div>
        } @else {
            <div class="result-display">
                <p>O resultado da soma aparecerá aqui.</p>
            </div>
        }


    </div>
</div>